# build files ignores
/build
/pine/build
/pine-sample/build
.gradle

# iml files ignores
pine/pine.iml
pine-sample/pine-sample.iml
Pine.iml

# git produced files
*.class
*.orig
*.REMOTE

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries
**/.idea/dictionaries
**/.idea/.name
**/.idea/vcs.xml

# others
.DS_Store
/local.properties
/keystore
